* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-left: 16em;
    padding-left: 16rem;

    background: #F0F0F0;
    color: #202020;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: none;
    text-size-adjust: 100%;
    font-family: sans-serif;
}

h2 {
    margin: 0.25em 0;
}
h3 {
    margin: 0.5em 0;
}

.hide {
    display: none;
}
.wrong {
    color: red;
}
.last {
    color: gray;
}
.now {
}
.next {
    color: blue;
}

.box {
    -ms-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em;

    background: #303030;
    background: rgba(48, 48, 48, 0.5);
    color: #E0E0E0;
    cursor: pointer;
    text-align: center;
    -ms-text-shadow: 0.05em 0.05em 0.05em #303030;
    -moz-text-shadow: 0.05em 0.05em 0.05em #303030;
    -webkit-text-shadow: 0.05em 0.05em 0.05em #303030;
    -o-text-shadow: 0.05em 0.05em 0.05em #303030;
    text-shadow: 0.05em 0.05em 0.05em #303030;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* message */

#message {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0.25em 1em;
    z-index: 3;

    font-size: 300%;
}

#message p {
    margin: 0;
    padding: 0;

    white-space: nowrap;
}

/* side */

#side {
    position: fixed;
    left: 0;
    top: 0;
    width: 16em;
    width: 16rem;
    height: 100%;
    z-index: 2;

    overflow-y: auto;
    background: #303030;
    color: #E0E0E0;
}

#side_hide {
    cursor: pointer;
}

#util {
    width: 100%;
    padding: 1em;
    padding: 1rem;
    border-spacing: 0;

    table-layout: fixed;
}

#util * {
    margin: 0;
    padding: 0;
}
#util td {
    padding: 0.25em 0;
}
#util p {
    padding: 0.25em 0;
}

#util input[type=text], #util input[type=password] {
    width: 100%;
    padding: 0.25em;
    border: none;

    background: #E0E0E0;
}
#util input[type=checkbox] {
    margin-right: 0.25em;
    border: none;
}
#util input[type=submit] {
    width: 100%;
    padding: 0.25em;
    border: none;

    background: #A0A0A0;
}
#util :first-child>input[type=submit] {
    padding: 1em;

    background: #808080;
}
#util input[type=button] {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.25em 1em;
    border: none;

    background: #C0C0C0;
}

/* content */

.content {
    padding: 1em;
    padding: 1rem;
    z-index: 1;

    font-family: monospace;
}

.content>tbody>tr>th {
    vertical-align: top;

    text-align: left;
}
.content>tbody>tr>td {
    vertical-align: top;

    font-size: 75%;
}

.content table {
    width: 100%;

    table-layout: fixed;
}

.content table>tbody>tr>* {
    vertical-align: baseline;

    text-align: right;
}
.content table>tbody>tr>:first-child {
    text-align: left;
}

/* report */

#report>tbody>tr>td {
    width: 36em;
}

#report_list_div {
    width: 72em;

    overflow-x: auto;
    white-space: nowrap;
}

#report_list {
    table-layout: auto;
}

.report_button {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;

    line-height: 150%;
}

/* submit */

#submit input[type=number] {
    width: 100%;

    font-family: monospace;
}
#submit_prod {
    max-width: 60%;
}
#submit input[type=submit] {
    width: 100%;

    font-family: monospace;
}

/* admin */

#admin>tbody>tr>td {
    width: 24em;
}

#admin input {
    width: 100%;
}
#admin select {
    width: 100%;
}
#admin textarea {
    width: 100%;
    height: 16em;

    font-size: 100%;
}
