* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;

    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    padding-left: 16em;
    padding-left: 16rem;

    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: none;
    text-size-adjust: 100%;
    font-family: sans-serif;
}

h2 {
    margin: 0.25em 0;
}
h3 {
    margin: 0.5em 0;
}

.hide {
    display: none;
}
.wrong {
    color: red;
}

.box {
    -ms-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em;

    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* message */

#message {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0.25em 1em;
    z-index: 3;

    cursor: pointer;
    font-size: 300%;
}

#message p {
    margin: 0;
    padding: 0;

    white-space: nowrap;
}

/* side */

#side {
    position: fixed;
    left: 0;
    top: 0;
    width: 16em;
    width: 16rem;
    height: 100%;
    z-index: 2;

    overflow-y: auto;
}

#side_hide {
    cursor: pointer;
}

#util {
    width: 100%;
    padding: 1em;
    padding: 1rem;
    border-spacing: 0;

    table-layout: fixed;
}

#util * {
    margin: 0;
    padding: 0;
}
#util td {
    padding: 0.25em 0;
}
#util p {
    padding: 0.25em 0;
}

#util input[type="text"], #util input[type="password"] {
    width: 100%;
    padding: 0.25em;
    border: none;
}
#util input[type="checkbox"] {
    margin-right: 0.25em;
    border: none;
}
#util input[type="submit"] {
    width: 100%;
    padding: 0.25em;
    border: none;
}
#util :first-child>input[type="submit"] {
    padding: 1em;
}
#util input[type="button"] {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.25em 1em;
    border: none;
}

/* content */

.content {
    padding: 1em;
    padding: 1rem;
    z-index: 1;

    font-family: monospace;
}

.content>tbody>tr>th {
    vertical-align: top;

    text-align: left;
}
.content>tbody>tr>td {
    vertical-align: top;
}

.content table {
    width: 100%;

    table-layout: fixed;
}

.content table>tbody>tr>* {
    vertical-align: baseline;

    text-align: right;
}
.content table>tbody>tr>:first-child {
    text-align: left;
}

/* report */

#report>tbody>tr>td {
    min-width: 36em;
    max-width: 36em;
}

#report_list_div {
    overflow-x: auto;
    white-space: nowrap;
}

#report_list {
    table-layout: auto;
}

.report_button {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;

    cursor: pointer;
    line-height: 150%;
}

/* submit */

#submit input[type="number"] {
    width: 100%;

    font-family: monospace;
}
#submit input[type="button"] {
    margin: 1px;
    padding: 1px;
    border: solid 1px;

    font-family: monospace;
}
#submit input[type="submit"] {
    width: 100%;

    font-family: monospace;
}

/* admin */

#admin>tbody>tr>td {
    min-width: 24em;
    max-width: 24em;
}

#admin input {
    width: 100%;
}
#admin select {
    width: 100%;
}
#admin textarea {
    width: 100%;
    height: 18em;
}
