body {
    background: #F0F0D0;
    color: #102040;
}

.box {
    background: #203050;
    background: rgba(32, 48, 80, 0.5);
    color: #E0E0C0;
    -ms-text-shadow: 0.05em 0.05em 0.05em #203050;
    -moz-text-shadow: 0.05em 0.05em 0.05em #203050;
    -webkit-text-shadow: 0.05em 0.05em 0.05em #203050;
    -o-text-shadow: 0.05em 0.05em 0.05em #203050;
    text-shadow: 0.05em 0.05em 0.05em #203050;
}

/* side */

#side {
    background: #203050;
    color: #E0E0C0;
}

#util input[type="text"], #util input[type="password"] {
    background: #E0E0C0;
}
#util input[type="submit"] {
    background: #C08050;
}
#util input[type="button"] {
    background: #F0C080;
}
